::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.stickyNav{

}
.menu {
    position: absolute;
    left: 0;
    width: 20%;
    height: 85%;
    background-color: #f1f1f121 !important;
}
.menu .close{
    color: #c25a22;
    display: block;
    margin-bottom: 5%;
    position: relative;
    right: 5%;
}
.menu li{
    margin:20% 0 ;
}
.desc .img-link{
    font-size: 45px;
    display: block;
    color: #f1f1f1a8;
    padding: 32%;
}